// Call to action (core/sections/_propa.scss)
$propa--padding-t__mobile: 			48px;		// propa, top padding (mobile)
$propa--padding-b__mobile: 			48px;		// propa, bottom padding (mobile)
$propa--padding-t__desktop: 			64px;		// propa, top padding (desktop)
$propa--padding-b__desktop: 			64px;		// propa, bottom padding (desktop)
$propa-slogan--padding-v__mobile: 	40px;		// propa slogan, margin bottom (mobile)
$propa-slogan--padding-v__desktop: 	null;		// propa slogan, margin bottom (desktop)
$propa-slogan--padding-h__desktop:	48px;		// propa slogan, minimum distance between slogan and actions (only .propa-split desktop)
